ej-contacts-mule-app/src/main/mule/ej-mule-api-spec.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:api-gateway="http://www.mulesoft.org/schema/mule/api-gateway" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd 
http://www.mulesoft.org/schema/mule/api-gateway http://www.mulesoft.org/schema/mule/api-gateway/current/mule-api-gateway.xsd">
    <http:listener-config name="ej-mule-api-spec-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
        <http:listener-interceptors >
			<http:cors-interceptor >
				<http:origins >
					<http:public-resource />
				</http:origins>
			</http:cors-interceptor>
		</http:listener-interceptors>
    </http:listener-config>
    <apikit:config name="ej-mule-api-spec-config" api="resource::aba21a6b-5c5b-467d-b5bd-b27424559480:ej-contacts-mule-api-spec:1.0.0:oas:zip:ej-mule-api-spec.yaml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
	<flow name="ej-mule-api-spec-main">
        <http:listener config-ref="ej-mule-api-spec-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="ej-mule-api-spec-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="ej-mule-api-spec-console">
        <http:listener config-ref="ej-mule-api-spec-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="ej-mule-api-spec-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="get:\contacts:ej-mule-api-spec-config">
        <set-payload value='#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;  "totalSize": 5,&#10;  "records": [&#10;    {&#10;        "Email": "td@example.com",&#10;        "FirstName": "Tom",&#10;        "Phone": "5779089797",&#10;        "Id": "0038b00003E7L9kAAF",&#10;        "LastName": "Saint",&#10;        "type": "Contact"&#10;    },&#10;    {&#10;        "Email": "brittani.johnson@warnerpacific1.org",&#10;        "FirstName": "CalchoiceEETest1",&#10;        "Phone": null,&#10;        "Id": "0038b00003DHsfeAAD",&#10;        "LastName": "CalchoiceEETes",&#10;        "type": "Contact"&#10;    },&#10;    {&#10;        "Email": "jturner@example.com",&#10;        "FirstName": "John",&#10;        "Phone": "2138905678",&#10;        "Id": "0038b00003E7OckAAF",&#10;        "LastName": "Turner",&#10;        "type": "Contact"&#10;    },&#10;    {&#10;        "Email": "henry.david@example.com",&#10;        "FirstName": "Henry",&#10;        "Phone": "2234987565",&#10;        "Id": "0038b00003E7L8dAAF",&#10;        "LastName": "David",&#10;        "type": "Contact"&#10;    },&#10;    {&#10;        "Email": "sylvester.gleichner@cumulusfsc.com",&#10;        "FirstName": "Sylvester",&#10;        "Phone": "7771412924",&#10;        "Id": "0038b00002iDYM9AAO",&#10;        "LastName": "Gleichner",&#10;        "type": "Contact"&#10;    }&#10;  ]&#10;}]' doc:name="Set Payload" doc:id="0bdd2a32-cb5c-426e-ac5b-9e8ca9534451" />
		<logger level="INFO" message="#[payload]" />
    </flow>
</mule>
